.section {
    background-color: #fff;
    margin-top: 30px;
}

.section__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ddd;
}

@media (max-width: 767px) {
    .section__header {
        display: flex;
        flex-direction: column;
    }
}

.section__title {
    padding: 25px;
    margin: 0;
}

@media (max-width: 767px) {
    .section__title {
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }
}
