.task-list {
    padding-left: 0;
    margin: 0 auto;
    max-width: 90%;
    padding-bottom: 10px;
}

.task-list__item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.task-list__button--remove {
    width: 40px;
    height: 40px;
    background-color: hsl(0, 100%, 33%);
    color: #ccc;
    transition: 1s;
    border: none;
    cursor: pointer;
}

.task-list__button--remove:hover {
    background: hsl(0, 100%, 50%);
}

.task-list__button--toggle {
    width: 40px;
    height: 40px;
    background-color: hsl(120, 42%, 36%);
    transition: 1s;
    border: none;
    cursor: pointer;
}

.task-list__button--toggle:hover {
    background-color: hsl(120, 42%, 50%);
}

.task-list__content {
    flex-grow: 1;
    text-align: left;
    font-size: 20px;
    font-weight: 1000;
    padding: 0 10px;
    overflow: hidden;
}

.task-list__content--done {
    text-decoration: line-through;
}

.task-list__item--hidden {
    display: none;
}