.buttons {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0;
  padding: 0 10px;
}

.buttons__button {
  border: none;
  background-color: transparent;
  transition: 0.3s;
  color: teal;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 4px;
}

.buttons__button:hover {
  color: rgb(0, 160, 160);
}

.buttons__button:disabled {
  color: #ccc;
  cursor: not-allowed;
  background-color: transparent;
}

@media (max-width: 767px) {
  .buttons {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  
  .buttons__button {
    margin: 2px 0;
  }
}